{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'question/css/head.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    {% block head-content %}{% endblock %}
</head>
<body>
    <div id="top-bar"><p>信息技术练习</p></div>
    <div id="main-content">{% block content_main %}{% endblock %}</div>
</body>
</html>