{% extends 'question/head.html' %}

{% load static %}

{% block title %}{{ user }} - 个人中心{% endblock %}

{% block head-content %}
    <link href="{% static 'question/css/space.css' %}" rel="stylesheet">
{% endblock %}

{% block content_main %}
    <div class="container">
        <h1 id="user-name">{{ user }}</h1>
        <div id="user-title" class="user">- {{ user_title }} -</div>
        <div id="private_space"></div>
        <div id="score-box" class="bg-light rounded-bottom shadow-sm">
            <h3 style="font-weight: 300;">{{ user_class_name }}</h3>
            <span>正确: {{ right_count }}</span><br>
            <span>错误: {{ wrong_count }}</span><br>
            <span>正确率: {{ right_rate }}%</span><br>
            <span>总刷题数: {{ total_count }}</span>
        </div>
    </div>
{% endblock %}
