* { margin: 0; padding: 0; }
.container { width: inherit;  }
#private_space { border-bottom: #ff5a00 solid 1px; }
#user-name { width: fit-content; height: fit-content; font-weight: 300; margin: 10px auto; }
#user-title { width: fit-content; height: fit-content; font-weight: 300; margin: 5px auto; color: #7c7c7c; }
#score-box { max-width: 280px; padding: 20px 15px; margin: 20px 0; font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", serif; }

