#question-type-and-page-info p {
    color: #ff5a00;
    font-size: 24px;
    font-weight: 300;
    margin: 0 32px;
    border-bottom: #ff5a00 1px solid;
    width: 168px;
}

#back-to-line {
    margin-top: 30px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    color: #525252;
}

#back-to-line:hover {
    color: #ff5a00;
}

#go-to-subject {
    width: 20px;
    height: 19px;
    font-weight: 300;
    font-size: 14px;
    color: #f7f7f7;
    background: #ff5a00;
    cursor: pointer;
    border: black 0 solid;
}

#go-to-subject:active {
    color: white;
    background: #9c9ca9;
}
