<!-- 提取出 index.html 和 subject.html 公共的问题部分 -->


<p id="question-num">题号: {{ question_num }}</p>
<span>题目类型: {{ question_type }} | 难度: {{ difficulty }} | </span>
{% if is_visited == 1 %}
    <span style="color: green">你曾答对此题</span>
{% elif is_visited == 0 %}
    <span style="color: red">你曾答错此题</span>
{% elif is_visited == -1 %}
    <span style="color: #ff5a00">你还没做此题，选择很关键!</span>
{% else %}
    <span style="color:#ff5a00;">查看这题的记录需要登录哦!</span>
{% endif %}

<pre id="question-text">{{ question_text }}</pre>
<form id="choice-form" name="choice-form" method="post" action="">
    <label>
        <input type="radio" name="choice" value="A" checked="checked"/>
        A: {{ choice_a }}
    </label><br/>
    <label>
        <input type="radio" name="choice" value="B"/>
        B: {{ choice_b }}
    </label><br/>
    <label>
        <input type="radio" name="choice" value="C"/>
        C: {{ choice_c }}
    </label><br/>
    <label>
        <input type="radio" name="choice" value="D"/>
        D: {{ choice_d }}
    </label><br/><br/>
    <button type="button" id="sub_btn" class="btn">提 交</button>
    <span style="visibility: hidden;" id="answer"></span>
    {% if question_order and question_order != num_of_ques %}
        <span style="visibility: hidden; color: black" id="info">, 3秒后将跳转到下一题</span>
        <a href="{% url 'subject' question_type_code question_order|add:1 %}" style="visibility: hidden" id="jump">
            没有跳转？</a>
    {% elif not question_order and question_num != 3436 %}
        <span style="visibility: hidden; color: black" id="info">, 3秒后将跳转到下一题</span>
        <a href="{% url 'ques' question_num|add:1 %}" style="visibility: hidden" id="jump">
            没有跳转？</a>
    {% else %}
        <span style="visibility: hidden; color: black" id="info">, 这是最后一题</span>
    {% endif %}
</form>

<script>
    {% if question_order %}
        function subject_jump(k) {
            if (k === 1) {
                location = '{% url 'subject' question_type_code question_order|add:1 %}';
            } else if (k === -1) {
                location = '{% url 'subject' question_type_code question_order|add:-1 %}';
            }
        }
    {% else %}
        function question_jump(k) {
            if (k === 1) {
                location = '{% url 'ques' question_num|add:1 %}';
            } else if (k === -1) {
                location = '{% url 'ques' question_num|add:-1 %}';
            }
        }
    {% endif %}

    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });

    function confirm_answer() {
        const choice = $('input:radio[name="choice"]:checked').val();

        $.ajax({
            url: "{% url 'ajax_confirm_answer' %}",
            type: "post",
            data: {'question_num': '{{ question_num }}', 'choice': choice},
            success: function (args) {
                const json = jQuery.parseJSON(args);
                if (json['is_correct']) {
                    $("#answer").css('visibility', 'visible').css('color', 'green').text(' 答对了');
                    $("#info").css('visibility', 'visible');
                    $("#jump").css('visibility', 'visible');
                    {% if question_order and question_order != num_of_ques %}
                        setTimeout('subject_jump(1)', 3000);
                    {% elif not question_order and question_num != 3436 %}
                        setTimeout('question_jump(1)', 3000);
                    {% endif %}
                } else {
                    $("#answer").css('visibility', 'visible').css('color', 'red').text(' 答错了，正确答案: ' + json['answer']);
                }
            }
        });
    }

    $(document).ready(function () {
        $("#sub_btn").click(function () {
            confirm_answer();
        });

        // 存在 question_order 表示用户是在专题练习中
        let current_page_num = {{ question_num }};
        let max_page_num = 3436;
        let question_order = "{{ question_order }}";
        if (question_order) {
            current_page_num = question_order;
            max_page_num = "{{ num_of_ques }}";
        }

        $("#next").click(function () {
            if (current_page_num === max_page_num) {
                alert('不能再往后了 <(￣ ﹌ ￣)>');
            } else {
                if (max_page_num === 3436) question_jump(1);
                else subject_jump(1);
            }
        });

        $("#forward").click(function () {
            if (current_page_num === 1) {
                alert('不能再往前了 <(￣ ﹌ ￣)>');
            } else {
                if (max_page_num === 3436) question_jump(-1);
                else subject_jump(-1);
            }
        });
    });
</script>
